h1, h2, h3{
    font-family: sans-serif;
    font-weight: 600;
    line-height: 125%;
    color: var(---text);
}

h1{font-size: 4.8rem;}

h2{font-size: 3.2rem;}

h3{font-size: 2.4rem;}

.btn-primary{
    font-family: sans-serif;
    display: inline-block;
    background-color: var(---secundary);
    padding: 1.2rem 2.4rem;
    margin-left: 2rem;
    letter-spacing: -0.001px;
    color: var(---text);
    transition: all .3s;
}
.btn-primary:hover{
    background-color: var(---text);
    color: var(---secundary);
    transform: scale(1.05);
}

.menu-item{
    display: inline-block;
    padding: 1.2rem 2.4rem;
    margin-left: 1rem;
    color: var(---secundary);
    transition: all .3s;
}

.menu-item:hover{
    color: var(---text);
}

.btn{
    font-family: sans-serif;
    display: inline-block;
    background-color: var(---secundary);
    color: var(---text);
    padding: 1.2rem 2.4rem;
    font-weight: 600;
    letter-spacing: -0.001px;
    border-radius: 5px;
    transition: all .3s;
}

.btn:hover{
    transform: scale(1.1);
}