.header{
    width: 100%;
    height: 8.8rem;
    background-color: var(---black);
}

.header .container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container .logo{
    width: 100%;
    margin-top: 3.5rem;
    font-size: 2rem;
    max-width: 6rem;
    color: var(---text);
}
.header .container .logo span{
    color: gray;
    font-size: 2rem;
}
.header .container .navbar{
    display: flex;
    align-items: center;   
    margin-top: 3.5rem;
}

.header .container .navbar ul{
    display: flex;
    align-items: center;
}


/* FINAL DO HEADER */



/* INICIO SECTION HERO */

.se-hero{
    width: 100%;
    max-width: 100%;
    display: flex;
    padding: 7.2rem 0px;
    background-color: var(---black);
}

.se-hero .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.se-hero .text{
    width: 100%;
    max-width: 65.5rem;
}

.se-hero .text p{
    width: 100%;
    max-width: 54.9rem;
    margin-top: 2rem;
    font-weight: 300;
    margin-bottom: 5.6rem;
    color: var(---text);
}

.se-hero .image{
    width: 100%;
    display: flex;
    align-items: flex-end;
    max-width: 42.6rem;
}

.se-hero .image img{
    width: 490px;
}

.se-hero .btn{
    width: 30rem;
    text-align: center;
    text-transform: uppercase;
}


/* SECTION INFO */

.se-info{
    padding-top: 10.4rem;
    padding-bottom: 12.2rem;
    background-color: var(---black);
}

.se-info .all-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 4.8rem;
}

.se-info .all-cards .card{
    width: 100%;
    max-width: 38.4rem;
    height: 38.2rem;
    background-color: var(---cards);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6.4rem;
    border: none;
    transition: 0.7s;
}
.title.center h3{
    color: var(---secundary);
    font-size: 2rem;
}
.se-info .all-cards .card:hover{
    transform: scale(1.05);
}

.all-cards .icon img{
    width: 10.5rem;
    max-width: 100%;
}

.all-cards .info{
    margin-top: 4rem;
    max-width: 28rem;
}

.all-cards .info h3{
    text-align: center;
    color: var(---black);
    font-weight: 600;
}

.all-cards .info p{
    text-align: center;
    margin-top: 0.8rem;
    line-height: 150%;
}

.main-area .btn-info{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 8rem;
    align-items: center;
}
